<html>
  <head>
    <title>再起動</title>
  </head>
  <body>
    <h1>再起動準備完了</h1>
    <p><a href="/_admin/reboot">もう１回再起動</a></p>
    <p><a href="javascript:window.close();">ウィンドウを閉じる</a></p>
  </body>
</html>
