<%
# itemはlocalで渡す
sid = item.id
prop = item.schedule_prop
%>
<% if !prop.blank? %>
  <table class="show">
    <tr><th colspan="4">施設予約</th></tr>
    <tr>
      <th>名称</th><td><%= prop.prop.name %></td>
      <th>施設の状態</th><td><%= prop.prop_stat_s2 %></td>
    </tr>
  </table>
<% end %>