<div class="contentPrefAttribute">

<h3>属性一覧</h3>

<div class="children">
  <% for item in @items %>
  <%=link_to h(item.title), Site.current_node.public_uri + item.name + '/' %>
  <% end %>
</div>

</div>
