<%#= render :partial => 'system/admin/group_updates/csv' %>
<%
location = csvup_system_group_updates_path
%>
<div>
<span style="color:red">登録済データを、すべて削除し、新規登録となります。</span>
</div>
<% form_tag location , {:method=>:post , :multipart => true} do %>
<table class="show">
<tr>
  <th>文字コード</th>
  <td>
    <%= radio_button_tag('item[nkf]', 'sjis',true   ) %><label for="item_nkf_sjis" >SJIS</label>
    <%= radio_button_tag('item[nkf]', 'utf8',false  ) %><label for="item_nkf_utf8" >UTF8</label>
  </td>
</tr>
<tr>
  <th>対象ファイル</th>
  <td><%= file_field_tag('item[file]' , :size=>80 , :accept=>'text/csv') %></td>
</tr>
</table>
<br />
<%= submit_tag 'CSV登録' %>
<% end %>
