<%# app/views/system/public/role_names/new.html.erb %>
<%
@create_path = Gw.chop_with("#{Site.current_node.public_uri}","/")
%>
<div class="piece AdminMessage">
<%= render :partial => 'header' %>
<div class="pieceBody">
<% form_for :item, :url => @create_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= submit_for(f, {:caption => '保存'}) %>
<% end %>
</div>
</div>

