<%

return '' if item.tags.size == 0

%><table class="show">
  
  <tr>
    <th>関連ワード</th>
    <td>
      <% item.tags.each_with_index do |_tag, i| %>
      <%= '<hr />' if i != 0 %><%=h _tag.word %>
      <% end %>
    </td>
  </tr>

</table>
