<% # app/views/gw/public/schedule_props/_header_genre.html.erb
# 1段め
concat <<-EOL
<div class="menu">
<p>施設予約</p>
#{ret=''; Gw::ScheduleProp.get_genre_select.each {|x|
  split_x1 = x[1].split ':'
  cls = split_x1[1]
  #link = "/gw/schedule_props/#{cls == 'pm' ? 'today' : 'show_week'}?s_genre=#{split_x1[0]}&amp;cls=#{cls}"
  link = "/gw/schedule_props/show_week?s_genre=#{split_x1[0]}&amp;cls=#{cls}"
  if params[:s_genre] == split_x1[0]
    link_s = %Q(<span class="current_menu">#{x[0]}</span>)
  elsif @genre == split_x1[0]
    link_s = %Q(<span class="current_menu">#{x[0]}</span>)
  else
    link_s = x[0]
  end
#  if split_x1[0] != "other"
    ret += link_to(link_s, link)
#  end
}; ret}
</div>
EOL
#= link_to '全施設', "/gw/schedule_props"
%>
