<div<%= Site.current_piece.css_attributes %>>
<div class="pieceContainer">
<div class="pieceHeader"><h2><%=h Site.current_piece.title %></h2></div>
<div class="pieceBody">
  <% if @items.size %>
  <ul>
    <% for item in @items
     %><li><%=link_to h(item.title), h(item.url), item.get_attributes
     %><% if item.body.to_s != '' %><div><%=hbr item.body %></div><% end %></li>
    <% end %>
  </ul>
  <% end %>
</div>
<div class="pieceFooter"></div>
</div>
<!-- end .piece --></div>
