<table class="show">
<tr>
  <th>名前</th>
  <td><%= f.text_field :name, 'style' => 'width:400px;' %></td>
</tr>
<tr>
  <th>並び順</th>
  <td><%= f.text_field :sort_no, 'style' => 'width:50px;' %></td>
</tr>
</table>
