<% form_for 'in', @item,
  :url => pref_jurisdictions_path,
  :html => {:method => :post} do |f| %>

<%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f, :action => 'new'} %>

<div class="submitters">
<%= f.submit "登録する" %>
</div>

<% end %>
