<%

_input_cb = Proc.new do |_area|
  _fn = f.object_name.to_s
  _id = "#{_fn}_area_ids_#{_area.id}"
  _ck = item.has_area?(_area.id) ? true : false
  if params[_fn]
    if params[_fn][:area_ids].class == Array
      _ck = params[_fn][:area_ids].index(_area.id.to_s) ? true : false
    else
      _ck = false
    end
  end

  check_box_tag("#{_fn}[area_ids][]", _area.id, _ck, :id => _id) +
    '<label for="' + "#{_id}" + '">' + _area.title + '</label>'
end

%><input type="hidden" name="<%= "#{f.object_name}_area_ids" %>" value="" />

<table class="show">

<tr>
  <th>地域指定</th>
</tr>
<tr>
  <td>
    <% Pref::Area.find(:all, :conditions => {:parent_id => 0}).each do |a1| %>
    <%= _input_cb.call(a1) %>
    <blockquote>
      <% Pref::Area.find(:all, :conditions => {:parent_id => a1}).each do |a2| %>
        <%= _input_cb.call(a2) %>
        <blockquote>
          <% Pref::Area.find(:all, :conditions => {:parent_id => a2}).each do |a3| %>
            <%= _input_cb.call(a3) %>
          <% end %>
        </blockquote>
      <% end %>
    </blockquote>
    <% end %>
  </td>
</tr>

</table>