<%# app/views/gw/public/rssreader/_form.html.erb %>
<%= required_head %>
<table class="show" border="1">
<%
trans = Gw.yaml_to_array_for_select('gw_rssreader')
errors = nz(@item['errors'], [])
trans.each do |tr|
  fld = tr[1]
  name = tr[0]
  name += required if fld!='index'
  val = text_field_tag(fld, @item[fld], :style => 'width:30em;')
  val = %Q(<div class="fieldWithErrors">#{val}</div>) if !errors.assoc(fld).nil?
  concat "<tr><th>#{name}</th><td>#{val}</td></tr>"
end
%>
</table>
