<%# app/views/gw/public/rssreader/_header.html.erb %>
<div class="menu">
<p>RSSリーダ</p>
<%= link_to_new '新規追加' %>
<%= link_to '設定を編集', '/gw/rssreader/edit_properties' %>
<%= link_to_index 'フィード一覧' %>
</div>
