<%= render :partial => 'system/admin/group_changes/menu' %>
<br />
<div class="menu">
<%= link_to '中間データ', system_group_change_ldaps_path %>
<%= link_to '通信テスト', system_group_change_ldaps_path + '?do=preview' %>
</div>
