<% if @items %>
<%= link_to '新規作成', system_group_change_ldaps_path + '?do=create', :confirm => '中間データを作成します' %>
<%= render :partial => 'list' %>
<% end %>

<% if params[:do] == 'preview' %>
<p>通信テスト</p>
<%= render :partial => 'preview' %>
<% end %>
