<%#*<h1>Gw::Public::YearFiscalJps#edit</h1>%>
<%#*<p>Find me in app/views/gw/public/year_fiscal_jps/edit.html.erb</p>%>

<div class="piece YearFiscalJp">
<%= render :partial => 'header_str' %>

<div class="pieceBody">

<% form_for :item, :url => "#{Site.current_node.public_uri}#{@item.id}", :html => {:method => :put} do |f| %>

<%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>

<%= submit_for(f, {:caption => '保存'}) %>

<% end %>

</div><!--pieceBody-->
</div><!--piece admin_messages-->
