<%

return '' if item.file_groups.size == 0

%><table class="show">

  <tr>
    <th>添付ファイル</th>
    <td>
      <% item.file_groups.each_with_index do |_group, i| %>
      
      <% if i != 0 %><hr /><% end %>
      <%=h _group.name %>
      <br />
      
      <% if _group.files.size > 0 %>
      <div class="files">
        <hr />
        <% _group.files.each_with_index do |_file, j| %>
        <%= link_to h(_file.name), _file.preview_uri, :target => :blank %>
        <br />
        <% end %>
      </div>
      <% end %>
      
      <% end %>
    </td>
  </tr>

</table>
