<%

return '' if @item.file_groups.size == 0

_groups_count = 0
for group in @item.file_groups
  _groups_count += 1 if group.is_visible?
end
return '' if _groups_count == 0

eng_unit = lambda do |_len|
  return '' unless _len.to_s =~ /^[0-9]+$/
  if _len >= 10**9
    _kilo = 3
    _unit = 'G'
  elsif _len >= 10**6
    _kilo = 2
    _unit = 'M'
  elsif _len >= 10**3
    _kilo = 1
    _unit = 'K'
  else
    _kilo = 0
    _unit = ''
  end
  
  if _kilo > 0
    _len = (_len.to_f / (1024**_kilo)).to_s + '000'
    _keta = _len.index('.')
    if _keta == 3
      _len = _len.slice(0, 3)
    else
      _len = _len.to_f * (10**(3-_keta))
      _len = _len.to_f.ceil.to_f / (10**(3-_keta))
    end
  end
  
  "(#{_len}#{_unit}B)"
end

%><div class="attachments">
  <h3>添付ファイル</h3>
  <% for group in @item.file_groups %>
  <% next unless group.is_visible? %>
  <div class="fileGroup"><%=h group.name %></div>
  <div class="files">
    <% for file in group.files
     %><%=link_to h(file.name + eng_unit.call(file.content_length)), @item.public_uri + 'files/' + CGI::escape(file.name), :class => file.css_class %>
    <% end %>
  </div>
  <% end %>
</div>
