<%# app/views/gwsub/public/sb04/_sb04_common_index_view.html %>
<%
#path_index = "#{Site.request_path}"
options =  {
  'link_to_edit'    => link_to_action,
  'link_to_destroy' => link_to_action,
  'link_to_show'    => nz(link_to_show,0)
}
options['field_td_criteria']={
  'id'=>Proc.new{ |item|
    %Q(<a href="#{Site.current_node.public_uri}#{item.id}#{@param}">詳細</a>)
  }
}
%>
<%= table_to_index2(@items,options) %>
<%= paginate @items %>
