<!-- 新規・編集 入力 -->
<%= f.error_messages %>

<table class="show">
  <tr>
     <th>変換対象(テーブル名)</th>
     <td><%= f.text_field :tablename  %></td>
  </tr>
  <tr>
     <th>変換対象(モデル名)</th>
     <td><%= f.text_field :modelname  %></td>
  </tr>
</table>

<%#= creator_view @item %>

<%= f.submit '保存' %>
