<!--
<h1>System::Admin::Idconversions#index</h1>
<p>Find me in app/views/system/admin/idconversions/index.html.erb</p>
-->
<div>
<%= link_to '作成', url_for(new_system_idconversion_path)%>
</div>
<% path_index = system_idconversions_path %>
<br/>
<%= table_to_index2 @items,
  {'sort_link_options' => {
    'sort_keys' => @sort_keys,
    'path_index' => path_index,
    'other_query_string' => @qs
    },
   'link_to_edit' => 1 
  }
%>
<br/>
<%= paginate @items %>
<br/>
