<%

return '' if @item.files.size == 0

%><div class="attachments">
  <h3>添付ファイル</h3>
  <div class="files">
    <% for file in @item.files %>
    <%= link_to h(file.united_name), './files/' + file.escaped_name, :class => file.css_class, :target => :blank %>
    <% end %>
  </div>
</div>
