<div<%= Site.current_piece.css_attributes %>>
<div class="pieceContainer">
<div class="pieceHeader"><h2><%=h Site.current_piece.title %></h2></div>
<div class="pieceBody">

<ul>
  <% for section in @sections
  %><li><%= link_to h(section.display_title), "../#{section.name}/" %></li>
  <% end %>
</ul>

</div>
<div class="pieceFooter"></div>
</div>
<!-- end .piece --></div>
