<%#*<p>Find me in app/views/gw/public/edit_link_pieces/new.html.erb</p>%>
<%
  @action = "create"
  @create_path = "#{Site.current_node.public_uri}"

%>

<div class="piece AdminSetting">

<%= render :partial => 'header_str' %>

<div class="pieceBody">
  <%= render(:partial => '/gw/public/edit_link_pieces/menu', :locals=>{:d=>@st_date, :mode=>'month'}) %>
  <%= div_notice %>
  <% form_for :item, :url => @create_path ,:action=>:create ,:method=>:post , :html => {:multipart => true} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end  %>
</div>

</div>
