<%# app/views/gw/admin/year_mark_jps/_menu.html.erb %>
<div class="editingBox">

<%#= link_to '一覧' ,gw_year_mark_jps_path%>
  <span class="btNew"><%= link_to '登録' ,"#{Site.current_node.public_uri}new" %></span>
<%#= link_to 'CSV出力' ,csvput_gw_year_mark_jps_path('csv'=>'init') %>
<%#= link_to 'CSV登録', csvup_gw_year_mark_jps_path %>
</div>
