<%
@edit_path = "#{Site.current_node.public_uri}#{@item.id}"
%>
<div class="piece YearMarkJp">
<%= render :partial => 'gw/public/year_mark_jps/header' %>
<div class="pieceBody">
<% form_for :item, :url => @edit_path, :html => {:method => :put, :multipart => true} do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
<%= submit_for(f, {:caption => '保存'}) %>

<% end %>
<div class="btReturn">
  <%=link_to '戻る', "#{Site.current_node.public_uri}#{@item.id}" %>
</div>
</div>
</div>