<%
if @items.length > 0
  brk_key = nil
  concat '<table class="index">'
  idx = 1
  @items.each do |item|
    break if idx > @limit_portal.to_i
    unless brk_key == item.latest_updated_at.strftime('%Y-%m-%d').to_s
      concat %Q(<tr><th colspan="5"><h4>#{item.latest_updated_at.strftime('%Y-%m-%d').to_s}</h4></th></tr>)
    end
    concat %Q(<tr>)
    concat %Q(<td class="bbsImportant"></td>)
    concat %Q(<td class="title">#{link_to(hbr(item.title), item.portal_show_path + gwbbs_params_set)}</td>)
    concat %Q(<td class="group">#{item.section_name}</td>)
    concat %Q(</tr>)
    brk_key = item.latest_updated_at.strftime('%Y-%m-%d').to_s
    idx = idx + 1
  end
  concat '</table>'
else
  concat '<div class="pieceBody" style="color: #080;">表示する内容はありません。</div>'
end
%>
