<div class="editingBox">
  <span class="btNewDoc"><%= link_to '文書追加', "#{Site.current_node.public_uri}new/?parent_id=#{params[:parent_id]}&title_id=#{params[:title_id]}" %></span> 
  <span class="docLink"><a class="" href='/doclibrary/cabinets/<%="#{params[:title_id]}"%>'>書庫詳細へ &gt;&gt;</a></span>
</div>
