<%
options={
  'table_name'=>'system_users_group_temporaries',
  :action=>'show'
}
options['field_td_criteria'] = {
  '_user_code' => Proc.new{|item|
     %Q(<a href=/_admin/system/user_temporaries/#{item.user_id}></a>#{item.user_id})},
  '_group' => Proc.new{|item|
     item.group_r.name+'('+item.group_r.code+')' },
  '_user_state' => Proc.new{|item|
     System::UsersGroupTemporary.state_show(item.user_r.state) },
}
%>
<%= table_to_show2 @item,options %>
