<div class="piece gadget bbs">
<div class="pieceHeader"><h3><%=h @title.title%>新着情報
 <%if @is_writable%>
  <span class="btNew"><%=link_to '新規作成', @title.new_portal_doc_path%></span>
 <%end%></h3></div>
<div class="pieceBody">

<%= render :partial => "gwboard/public/piece/ind_news/#{@system}/index_#{@title.form_name}"%>

<% if @items.length > @limit_portal -%>
 <div class="bbsContinue"><%= link_to '続き・・・',@items[@limit_portal].portal_index_path  %></div>
<%end -%>

</div><!--pieceBody-->
</div>
