<div class="mainMenu">
<%= link_to "メンテナンス", intra_maintenances_path, :class => (current == :maintenance ? 'current' : '') %>
<%= link_to "お知らせ"  , intra_messages_path, :class => (current == :message ? 'current' : '') %>
</div>
