<%
options={
  'table_name'=>'system_users_groups',
  :action=>'show'
}
options['field_td_criteria'] = {
  '_user_code' => Proc.new{|item|
     %Q(<a href=/_admin/system/users/#{item.user_id}></a>#{item.user_id})},
  '_group' => Proc.new{|item|
     item.group.name+'('+item.group.code+')' },
}
%>
<%= table_to_show2 @item,options %>
