<h1><a href="/_admin">Joruri Gw admin</a></h1>

<div class="menu">
<span><%= Time.now.strftime('%Y-%m-%d %H:%M:%S') %></span>
| <a href="/_admin/account"><%=h Site.user.display_name %></a>
| <a href="/">公開画面</a>
| <a href="/_admin/logout">ログアウト</a>
</div>
