<div<%= Site.current_piece.css_attributes %>>
<div class="pieceContainer">
<div class="pieceHeader"><h2><%=h Site.current_node.title %></h2></div>
<div class="pieceBody"><%=h Site.current_piece.body %></div>
<div class="pieceFooter"></div>
</div>
<!-- end .piece --></div>
