<%# app/views/gw/public/memos/_form.html.erb %>
<%
# hidden parameters
suffixes_raw = Gw.yaml_to_array_for_select('gw_memos_categories')
suffixes = Gw.options_for_select(suffixes_raw, nil)
title_suffix = '<br/>' +
  select_tag('_category', suffixes, :size=>suffixes_raw.length, :ondblclick => 'select_category()')
options={
  '_textarea_fields'=>%w(body),
  'required_cols'=>%w(ed_at title),
  :suffix=> {'ed_at'=>'ごろ', 'fr_group'=>'の', 'fr_user'=>'様から', 'title'=>title_suffix},
  :class=>:show
}
# main
concat <<-EOL
#{get_form_title_div params}
#{required_head}
#{table_to_form(f, @item, options)}
#{render :partial => '/gw/public/memos/form_participant', :locals => {:f => f}}
<div id="pp"></div>
#{gw_js_include_full}
<script type="text/javascript">
//<![CDATA[
  var select_category = function() {
    var fr = $('_category');
    var idxs = select_options_selected_indexes(fr);
    var to = $('item_title');
    to.value = fr[idxs].innerHTML;
  }
//]]>
</script>
EOL
%>
