<%# app/views/gw/public/memos/_piece_header.html.erb %>
<h2 class="pieceTitle">連絡メモ</h2>
<div class="btsHeaderLeft">
<span class="btNew"><%= link_to '新規作成', '/gw/memos/new' %></span>
</div>
<div class="btsHeaderRight">
<span class="btSet"><%= link_to '設定する', '/gw/memo_settings' %></span>
</div>
