<% # app/views/gw/public/memos/setting.html.erb
raise Gw::SystemError, 'This is old file. Please contact administrator.'
concat <<-EOL
#{render(:partial => '/gw/public/memos/header')}
<div class="menu">
<p>設定</p>
#{link_to '個人設定', "/gw/memos/setting"}
</div>
EOL
header = <<-EOL
#{show_notice}
#{render :partial => '/gw/public/memos/piece_header'}
EOL
@content_for_form = ''
content_for :form do
  form_for :item, :url => {:action => :create}, :html => {:multipart => true, :id => 'itemForm'} do |f|
    concat <<-EOL
#{f.error_messages}
<table class="show">
<tr><th><span class="mock">携帯メール転送</span></th><td>
#{radio f, 'title', Gw.yaml_to_array_for_select('t1f2_do')}
</td></tr>
<tr><th><span class="mock">携帯メールアドレス</span></th><td>
#{f.text_field :title, :style => 'width:30em;'}
</td></tr>
</table>
#{submit_for_create f, :class=>'mockblock'}
EOL
  end
end
body = { :body => <<-EOL
<span class="mock">モックです。</span>
#{@content_for_form}
EOL
}
concat hhbff_struct(:memo, :show, :header=>header, :body=>body)
%>
