<%

header = <<-EOL
#{render :partial => '/gw/public/memos/piece_header'}
EOL

@key = 'reminder'

content_for :item do
  form_for :item, :url => "/gw/memo_settings/edit_#{@key}", :html => {:method=>:put, :multipart => true} do |f|
    concat '<table class="show">'
    concat "<tr><th>既読</th><td>"
    concat select_by_list(f, :read_memos_display, Gw.yaml_to_array_for_select('gw_memos_display_term', :for_select_by_list=>1),
        {}, @item[:read_memos_display].to_i)
    concat "</td></tr>"
    concat "<tr><th>未読</th><td>"
    concat select_by_list(f, :unread_memos_display, Gw.yaml_to_array_for_select('gw_memos_display_term', :for_select_by_list=>1),
        {}, @item[:unread_memos_display].to_i)
    concat "</td></tr>"
    concat '</table>'
    concat submit_for_update(f, :id=>"item_submit_#{@key}", :caption => '保存')
  end
end

titles = Gw::NameValue.get_cache('yaml', nil, 'gw_settings')

body = {  :header => <<-EOL,
#{show_notice}
<div class="titleLine">
<span class="title">表示設定</span>
</div>
EOL
  :body => <<-EOL
<a name="#{@key}"></a>
#{@content_for_item}
EOL
}

concat hhbff_struct(:memo, :setting, :header=>header, :body=>body)


%>