<%

c = Proc.new do |_name|
  current == _name ? 'current' : ''
end

%><div class="menu">
<p>デザイン</p>
<%= link_to "ピース"        , cms_pieces_path     , :class => c.call(:piece) %>
<%= link_to "テンプレート"    , cms_layouts_path    , :class => c.call(:layout) %>
</div>
