<div class="menu">
<p>ディレクトリ</p>
<%= link_to 'ディレクトリ', cms_nodes_path(0), :class => (current == :node ? 'current' : '') %>
<%= link_to 'サイト', cms_sites_path, :class => (current == :site ? 'current' : '') %>
</div>
