<% return render(:text => '<select><option>管理画面</option></select>') %>

<script type="text/javascript">
//<![CDATA[
  function submitCmsNavigationSite(value) {
    document.getElementById('cmsNavigationSite').submit();
    return false;
  }
</script>

<form id="cmsNavigationSite" method="get" action="/_admin">

<%= select 'cms_navi', 'site',
  Cms::Site.find(:all, :order => :id).collect{|i| [i.name, i.id]},
  {:selected => Site.id, :include_blank => 'CMS管理画面'},
  {:onchange => "return submitCmsNavigationSite(this.value)"} %>

</form>
