<% # app/views/gw/public/holidays/show.html.erb
#concat render(:partial => '/gw/public/holidays/header_common_local')
header = <<-EOL
#{render :partial => '/gw/public/schedules/piece_header'}
EOL
body = {
  #:header => render(:partial => '/gw/public/schedules/schedule_header', :locals=>{:d=>d, :mode=>'week'}),
:body => <<-EOL
<div class="titleLine">
<span class="title">休日管理</span>
</div>
#{show_notice}
<div class="editingBox">
<div class="btEdit">
#{link_to '編集',"/gw/holidays/#{@item.id}/edit?categoriy=#{@category_id}"}
</div>
<div class="btDestroy">
#{link_to '削除',"/gw/holidays/#{@item.id}?categoriy=#{@category_id}",:confirm=>'削除しますか？' ,:method=>:destroy}
</div>
</div>
#{table_to_show2(@item)}
<div class="btReturn">
#{link_to '一覧に戻る' , "/gw/holidays?category=#{@category_id}"}
</div>
EOL
  }
concat hhbff_struct(:schedulePiece, :setting, :header=>header, :body=>body)
%>
