<%
#return render :text => '' unless @item.class.include?(Cms::Model::Base::TmpFile)
if item.unid
  files_uri = cms_files_path(item.unid)
  _hidden_field = ''
else
  files_uri = cms_tmp_files_path(item.tmp_id)
  _hidden_field = f.hidden_field :tmp_id
end
%><table class="show">
  <tr>
    <th>添付ファイル</th>
    <td>
      <a href="#" onclick="chageDisp(this,'file_form');return false;">開く▼</a>
    </td>
  </tr>
</table>

<table id="file_form" border="0" class="show" style="display: none;">
  <tr>
    <td style="padding: 0px 0px;">
      <iframe src="<%= files_uri %>" style="width: 100%; height: 340px;" frameborder="0"></iframe>
      <%= _hidden_field %>
      <input type="hidden" id="file_path" value="<%= file_path %>" />
      <input type="hidden" id="tmp_form_id" value="<%= form_id %>" />
    </td>
  </tr>
</table>