<%#*<p>Find me in app/views/gw/public/edit_link_pieces/_header_new_botton.html.erb</p>%>
  <div class="editingBox">
  <div class="btNew">
  <%= link_to '登録', "#{Site.current_node.public_uri}new?pid=#{@pid}"  if @parent.blank? || @parent.level_no < 4 -%>
  </div>
  </div>
