<%# form_tag('', :method => :get, :class => 'search', :name=>'frmSearch') do %>
<% form_tag('', :method => :get, :class => 'search' , :name=>'frmViewline') do %>
<table>
  <tr>
    <td>
      表示行数
    </td>
    <td>
       <%= select_tag( 'limit' , options_from_collection_for_select([[10,'10行'],[20,'20行'],[30,'30行'],[50,'50行']],
           :first,:last,params['limit'].to_i), :onchange => 'document.frmViewline.submit()') %>
    </td>
  </tr>
</table>
<% end %>
