<div class="piece blogPartsSetting">
<div class="pieceHeader">
  <h2>ブログパーツ設定</h2>
</div>
<div class="pieceBody">

<div class="navi">
<span style="margin-right:3em;" class="Menu">
  <%= link_to '個人ポータルに戻る' , "/ind_portal" %>
</span>
</div>

<% if @items.length == 0 %>
  <div class="notice">表示する内容はありません。</div>
<% else %>
  <table class="index">
  <% rowcount = 4 %>
  <% 0.step(@items.length-1,rowcount) do |n| %>
    <tr <%= cycle '', 'class="cycle"' %>>
    <% n.step(n+rowcount-1,1) do |i| %>
      <% if i < @items.length %>
        <%= render :partial => 'form_props', :locals => {:i => i} %>
      <% else %>
        <td></td>
      <% end %>
    <% end %>
    </tr>
  <% end %>
  </table>
<% end  %>
</div>
</div>
