<div class="editingBox">
  <span class="btNew"><%= link_to '分類を追加する', "#{Site.current_node.public_uri}new/?parent_id=#{params[:parent_id]}&title_id=#{params[:title_id]}" %></span>
  <span class="docLink"><%=link_to('掲示板詳細画面へ &gt;&gt;',"/gwbbs/makers/#{@title.id}")%></span>
</div>
