<div class="piece bbs">
<div class="pieceHeader">
<h2>掲示板</h2>
</div><!--pieceHeader-->
<div class="pieceBody">
<% form_for :item, :url => @item.update_path, :html => {:method => :put} do |f| %>

<%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>

<%= submit_for_update f %>

<% end %>
</div><!--pieceBody-->
</div><!--piece bbs-->