<div style="height: 25px;"> </div>
<table class="show">
  <tr>
    <th>タイトル</th>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <th>ファイルパス</th>
    <td><%= f.text_field :path %></td>
  </tr>
  <tr>
    <th>画像アップロード</th>
    <td><%= f.file_field :upload %></td>
  </tr>
</table>
