<div class="piece ind_portal index">
<div class="pieceBody">
<div class="piecesContainer">
<% 
@items.each_with_index do |item,idx|
  if @setting.max_contents <= idx
    concat render :partial=>'error', :locals=>{:title=>item.title, :message=>"コンテンツ数が上限に達しました。不要なコンテンツがあれば削除してください。"}
  elsif @usables.select{|x| x.piece==item.piece&&x.genre==item.genre&&x.tid==item.tid }.length == 0
    concat render :partial=>'error', :locals=>{:title=>item.title, :message=>"コンテンツが削除されたか、または閲覧権限が無くなりました。"}
  else 
    concat "[[#{item.piece_name}]]"
  end
end
%>
</div>
</div>
</div>