<%# app/views/gw/public/ind_portal/new.html.erb %>
<%
concat render(:partial => '/gw/public/ind_portal/header')
#content_for :form do
  #form_for :item, :url => '/gw/schedules', :html => {:multipart => true, :id => 'itemForm'} do |f|
    #concat f.error_messages
    #concat render(:partial => 'form', :locals => {:f => f})
    #concat submit_for_create(f, :js_submitter => 'my_submit()', :class=>:mock)
  #end
#end
head = nil
#{@content_for_form}
add_cands = Gw::Model::Schedule.get_ind_portal_add_cands_all
# 登録済は除外
@pieces_raw.collect{|x| x['piece_name']}.each{|x|
  x_a = x.split(/\s+/)
  piece_name = x_a[0].gsub(/^piece\//, '')
  case piece_name
  when 'gw-bbs-mock'
    par_a = x_a[1].blank? ? [] : x_a[1].split('_')
    add_cands.reject!{|y| "#{y[0]}" == "#{par_a[1]}" && y[2] == par_a[0] } if !par_a.blank?
  when 'gw-rss-readers'
    par = x_a[1]
    add_cands.reject!{|y| "#{y[0]}" == "#{par}" } if !par.blank?
  when 'gw-notes'
    par = x_a[1]
    add_cands.reject!{|y| "#{y[0]}" == "#{par}" } if !par.blank?
  end
}
body = <<-EOL
<table class="index">
 <colgroup class="addition" width="50px"></colgroup>
 <colgroup class="contents"></colgroup>
<tr>
<th colspan="2">追加するコンテンツを選択</th>
</tr>
#{add_cands.collect{|x|"<tr><td>#{link_to '追加', "/ind_portal/#{x[2]}/#{x[0]}/add"}</td><td>#{x[1]}</td></tr>"}.join}
</table>

<table class="index">
 <colgroup class="delete" width="50px"></colgroup>
 <colgroup class="contents"></colgroup>

<tr>
<th colspan="2" class="entry">現在選択中のコンテンツ</th><th colspan="2">並び順</th>
</tr>
#{idx=0; @pieces_raw.collect{|x| idx+=1; id = x['sort_no'];
  "<tr><td>#{link_to_destroy id}</td>"+
  "<td>#{x['title']}</td>"+
  "<td class='upSort'>#{idx == 1 ? '' : link_to('↑', "/ind_portal/#{id}/up")}</td>"+
  "<td class='dSort'>#{idx == @pieces_raw.length ? '' : link_to('↓', "/ind_portal/#{id}/down")}</td></tr>"}.join}
</table>
EOL
concat piece_struct('ind_portal', 'new', head, body)
%>
