<div class="contentMap">

<div style="margin-left: 20px; color: #777; line-height: 1.5;">

<% @maps.each_with_index do |map, key| %>
<%= map[:indent] + map[:child] %> <%=link_to h(map[:title]), map[:uri] %><br />
<% end %>

</div>

<!-- end .contentMap --></div>
