<%

return '' if item.images.size == 0

%><table class="show">

  <tr>
    <th>添付画像</th>
    <td>
      <% item.images.each_with_index do |_img, i| %>
      <%= '<hr />' if i != 0 %><%= link_to h(_img.name), _img.preview_uri, :target => :blank %>
      <% end %>
    </td>
  </tr>

</table>
