<%# app/views/system/admin/group_history_temporaries/show.html %>
<%
options={}
options['field_td_criteria'] = {
  'code' => Proc.new{|item|
    if item.level_no > 2
      item.code.to_i == 0 ? item.code : sprintf("%06d",item.code.to_i)
    else
      item.code
    end
  #},
  #'version_id' => Proc.new{|item|
    #Gw.date_str(item.g_ver.start_at)
  }
}
%>
<div class="indexTabs">
<span>グループ</span>
<%=link_to 'ユーザー', system_users_group_history_temporaries_path(@item.id) %>
</div>
<%#*<div class="showMenu">%>
<%#=link_to_edit      @item if @item.editable? %>
<%#=link_to_destroy   @item if @item.deletable? %>
<%#*</div>%>

<%= table_to_show2 @item,options %>
