<%#*<p>Find me in app/views/gwsub/public/sb01/sb01_training_plans/edit.html.erb</p> -%>
<%
@edit_path = "#{Site.current_node.public_uri}#{@item.id}"
@action = "edit"
-%>
<div class="gwsub sb01">
<div class="pieceHeader">
<h2>研修申込・受付</h2>
</div>
<div class="pieceBanner">
<%= render :partial => 'gwsub/public/sb01/sb01_training_plans/menu' %>
</div>
<div class="pieceBody">
<%= div_notice %>
<br/>
<% form_for :item, :url => @edit_path ,:action=>:update, :html => {:method => :put, :multipart => true, :class=>"leftSide"} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
<div class="btReturn">
  <%= link_to '詳細に戻る' , url_for(@edit_path) -%>
</div>
</div>
</div>