<a id="bookmark" class="bookmark" href="#a" title="ロードが完了するまでお待ちください..." style="color:gray">ブックマーク</a>

<script type="text/javascript">
//<![CDATA[
  var bookmark_on_click = function() {
		var href = location.href.replace(/[^\/]+\:\/\/[^\/]+\//, "/");
    var href = "/gw/ind_edit_link_pieces/bookmark?title=" + encodeURIComponent(document.title) + "&url=" + encodeURIComponent(href);
    var node = $('bookmark');
    if (node) {
      node.setAttribute('href', href);
    }
  }
  var bookmark_enable_url = function(url) {
    var patterns = [
      [0, '.\\/new(\\/|\\?|\\#|$)'],
      [0, '.\\/edit(\\/|\\?|\\#|$)']
    ];
    for (var i=0; i<patterns.length; i++) {
      var pattern = patterns[i];
      if (url.match(pattern[1])) {
        if (pattern[0] == 0) {
          return false;
        } else {
          return true;
        }
      }
    }
    return true;
  }
  var bookmark_on_load = function() {
    var node = $('bookmark');
    if (node) {
      if (bookmark_enable_url(location.href)) {
				node.setAttribute('title', '現在のページを個人ポータルのブックマークに追加します');
				node.setAttribute('href', '');
				node.removeAttribute('style');
				Event.observe('bookmark', 'click', bookmark_on_click);
      } else {
				node.setAttribute('title', '現在のページのブックマークは禁止されています');
				node.setAttribute('href', '#a');
				node.style.color = 'gray'
				node.disabled = true;
			}
    }
  }
  
	Event.observe(window, 'load', bookmark_on_load);
	
//]]>
</script>
