<div class="piece linkSetting">
<%= render :partial => 'header_str' %>
<div class="pieceBody">

<% form_for :item, :url => "#{Site.current_node.public_uri}save_bookmark", :method=>:post do |f| %>
  <%= render :partial => "form_bookmark", :locals => {:f => f} %>
<% end  %>

</div>
</div>
