<script type="text/javascript">
//<![CDATA[
  var linkpiece_on_submit = function (form) {
    for (i=0; i<form.elements.length; i++) {
      form.elements[i].disabled = false;
    }
  }
//]]>
</script>

<div class="piece linkSetting">
<%= render :partial => 'header_str' %>
<div class="pieceBody">
<%= render :partial => 'header_new_botton' %>
<%= div_notice %>
<% form_for :item, :url => "#{Site.current_node.public_uri}?pid=#{@parent.id}", :action=>:create, :method=>:post, :html => {:id => "itemForm", :multipart => true, :onsubmit=>"linkpiece_on_submit(this);"} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end  %>
</div>
</div>
