<table class="show">
  
  <tr>
    <th>状態</th>
    <td><%=radio f, :state, @item.states, :class => 'state' %></td>
  </tr><tr>
    <th>日時</th>
    <td><%= f.text_field :published_at, :class => 'datetime pulished_at' %></td>
  </tr><tr>
    <th>タイトル</th>
    <td><%= f.text_field :title, :class => 'string title' %></td>
  </tr><tr>
    <th>本文</th>
    <td><%= f.text_area :body, :class => 'string body' %></td>
  </tr>

</table>

<%#= recognizer_form f, @item %>

<%#= task_form f, @item %>
