<h1><a href="/_admin"><img src="/_common/themes/admin/images/header_logo.gif" alt="Joruri" /></a></h1>

<div class="menu">

<div class="menu-top"></div>

<div class="menu-bottom">
<span class="time"><%= Time.now.strftime('%Y-%m-%d %H:%M:%S') %></span>
<a href="/_admin/account"><%=h Site.user.display_name %></a>
<a href="/">公開画面</a>
<a href="/_admin/logout">ログアウト</a>
</div>

</div>
