<table>
<tr>
<td class="selector">
<div class="upper">
<%= render :partial => 'layouts/admin/cms/navi/main_site' %>
</div>
<div class="lower">
<%= render :partial => 'layouts/admin/cms/navi/main_concept' %>
</div>
</td>
<td class="menu">
<%
dir = %Q(#{RAILS_ROOT}/app/views/#{controller.controller_path})
sel = [:setting, :develop]
concat FileTest.exist?(%Q(#{dir}/_header.html.erb)) ?
  render(:partial => %Q(#{controller.controller_path}/header)) :
  <<-EOL
<div class="mainMenu">
#{render :partial => 'layouts/admin/cms/navi/main', :locals => {:current => sel[0]}}
</div>
<div class="contentMenu">
#{render :partial => "layouts/admin/cms/navi/#{sel[0]}", :locals => {:current => sel[1]}}
</div>
EOL
%>
</td>
</tr>
</table>
