<div class="piece portalSetting">
<%= render :partial => 'header' %>
<div class="pieceBody">
<%= render :partial => 'button_return' %>

<script type="text/javascript">
//<![CDATA[
  var ind_portal_on_submit = function (form) {
    for (i=0; i<form.elements.length; i++) {
      form.elements[i].disabled = false;
    }
  }
//]]>
</script>

<% form_for :item, :url => "#{Site.current_node.public_uri}#{@item.id}", :html => {:method => :put, :onsubmit => "ind_portal_on_submit(this);"} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end  %>

</div>
</div>
