<%

return '' if item.tasks.size == 0

%><table class="show">
  
  <tr>
    <th>公開開始日時</th>
    <td><%= item.find_task_by_name('publish') %></td>
  </tr><tr>
    <th>公開終了日時</th>
    <td><%= item.find_task_by_name('close') %></td>
  </tr>

</table>
