<%# app/views/cms/admin/nodes/index.html.erb %>
<div class="indexTabs">
<span>ディレクトリ</span>
<%=link_to 'ページ', cms_pages_path(@parent) %>
</div>
<%
options = {
  'link_to_explore' => 1,
  'field_td_criteria' => {
    '_type' => Proc.new{|item|
      "#{item.module}/#{item.controller}"
    }
  },
}
concat table_to_index2(@items, options)
%>
<%= paginate @items %>
