<div class="mainMenu">
<%= render :partial => 'layouts/admin/cms/navi/main', :locals => {:current => :design} %>
</div>

<div class="contentMenu">
<%= render :partial => 'layouts/admin/cms/navi/design', :locals => {:current => :layout} %>
</div>
