<div class="menu">
<p>コンテンツ</p>
<%#= link_to '新規登録', new_cms_content_path if Site.user.has_priv?(:create, :item => Cms::Lib::Navi.concept) %>
<%= link_to '新規登録', new_cms_content_path %>
<%= link_to '一覧表示', cms_contents_path %>
</div>
