<%

return '' if @items.size == 0

%><div<%= Site.current_piece.css_attributes %>>
<div class="pieceContainer">
<div class="pieceHeader"><h2><%=h Site.current_piece.title %></h2></div>
<div class="pieceBody">

<ul>
  <% for item in @items
  %><li><p class="title"><%= h(item.title) %></p><div class="body"><%=br item.body %></div></li>
  <% end %>
</ul>

</div>
<div class="pieceFooter"></div>
</div>
<!-- end .piece --></div>
  