<table id="note_show_table" class="show" style="display:none">
  <tr>
    <th>タイトル</th>
    <td id="show_item_title"></td>
  </tr>
  <tr>
    <th>メモ</th>
    <td id="show_item_body"></td>
  </tr>
</table>
