<%# app/views/cms/admin/sites/_menu.html.erb %>
<%#= render :partial => 'cms/admin/header' %>
<div class="menu">
<p>サイト</p>
<%= link_to '登録', new_cms_site_path %>
<%= link_to '編集', cms_sites_path %>
</div>
