<%# app/views/system/admin/users_groups/index.html %>
<%
path_index = "#{Site.request_path}"
options = {
  #'sort_link_options' => {
    #'sort_keys' => @sort_keys,
    #'path_index' => path_index,
    #'other_query_string' => @qs
  #},
  'table_name' => 'system_users_group_histories',
  :action=>'index',
  'link_to_edit'    => nil,
  'link_to_destroy' => nil,
  'link_to_show'    => 0,
  'field_td_criteria'=>{
#    '_user_code'=>Proc.new{|item|  item.user.id  },
    '_user_code'=>Proc.new{|item|  item.user.code  },
    '_mail'     =>Proc.new{|item|  item.user.email  },
    '_rid'=>Proc.new{|item|
      %Q(<a href="/_admin/system/#{item.group_id}/users_group_histories/#{item.rid}">詳細</a>)
    },
    '_user_ldap'=>Proc.new{|item| System::UsersGroupHistory.ldap_show(item.user.ldap) },
    '_group'=>Proc.new{|item|
      if item.group.level_no > 2
        if item.group.code.to_i == 0
          item.group.code+item.group.name
        else
          sprintf("%06d",item.group.code)+item.group.name
        end
      else
        item.group.code+item.group.name
      end
    }
  }
}
%>
<div class="indexTabs">
<%=link_to 'グループ', system_group_histories_path(@parent) %>
<span>ユーザー</span>
</div>
<%= table_to_index2(@items,options) %>
<br />
<%= paginate @items %>
