<%
if @key=='ssos'
elsif @key=='mobiles'
else
	setting_url = @is_gw_admin ? "/gw/schedules/setting" : "/gw/schedules/setting_ind"
	class_tag = @is_gw_admin ? "btSetAdd" : "btSet"
end

if !params[:s_genre].blank?
  s_genre = "?s_genre=#{params[:s_genre]}"
else
  s_genre = ""
end

if @key == 'ssos'

elsif @key=='mobiles'

piece_head_title = '連絡メモ'
concat <<-"EOL"
<h2 class="pieceTitle">#{piece_head_title}</h2>
EOL

else

piece_head_title = nz(@piece_head_title, 'スケジュール')
concat <<-"EOL"
<h2 class="pieceTitle">#{piece_head_title}</h2>
<div class="btsHeaderLeft">
<span class="btNew">#{link_to '新規作成', '/gw/schedules/new' + s_genre}</span>
</div>
<div class="btsHeaderRight">
<span class="#{class_tag}">#{link_to '設定する', setting_url}</span>
</div>
EOL

end

%>