<%
title_str = "設定"

header = <<-EOL
#{render :partial => '/gw/public/schedules/piece_header'}
EOL

body = { :header => <<-EOL,
#{render(:partial => '/gw/public/schedules/schedule_bt_box', :locals=>{:d=>Date.today, :mode=>'form'})}
<div class="titleLine">
#{show_notice}
<span class="title">#{title_str}メニュー</span>
</div><!--titleLine-->
EOL
:body => <<-EOL }
<ul>
<li>
<span class="function"><a href="/gw/schedules/setting_ind">個人設定</a></span>
<span class="explanation"></span>
</li>
<li>
<span class="function"><a href="/gw/holidays?category=1">休日管理</a></span>
<span class="explanation"></span>
</li>
<li>
<span class="function"><a href="/system/custom_groups">カスタムグループ設定</a></span>
</li>
</ul>
EOL
concat hhbff_struct(:schedulePiece, :setting, :header=>header, :body=>body)

%>