<%

max = 3

_fn = f.object_name.to_s

if params[_fn] && params[_fn][:category_ids].class == Array
  ids = params[_fn][:category_ids].uniq
else
  ids = item.category_ids
  ids = ids.to_s.split(' ') if ids.class != Array
end

if ids.size > max
  ids = ids.slice(0, 2)
elsif ids.size < max
  (max - ids.size).times do
    ids << ''
  end
end

collection = Pref::Category.find(:all, :conditions => {:level_no => 2}, :order => :sort_no).collect

_select = Proc.new do |_key, _id|
  _name  = "#{_fn}[category_ids][]"
  _elid  = "#{_fn}_category_ids_#{_key}"
  _blank = '<option></option>'
  select_tag _name, _blank + options_from_collection_for_select(collection, :id, :title, _id.to_i), {:id => _elid}
end

%><div class="<%= 'fieldWithErrors' if @item.errors.invalid?('分野') %>">

<% k = 0; ids.each do |id|  %>
<%= _select.call(k, id) %> &nbsp;
<% k += 1 %>
<% end %>

</div>
