<%

return '' if item.categories.size == 0

%><table class="show">

  <tr>
    <th>分野</th>
    <td>
      <% item.categories.each_with_index do |_cate, i| %>
      <%= '<hr />' if i != 0 %><%= _cate.category.title %>
      <% end %>
    </td>
  </tr>

</table>
