<%
return '' if item.recognizers.size == 0
%><table class="show">
  <tr>
    <th>承認者</th>
    <td>
      <% item.recognizers.each do |_recognizer| %>
      <%= _recognizer.user.display_name %> /
      <% if _recognizer.recognized_at %>承認日時 <%= _recognizer.recognized_at %>
      <% else %>未承認<% end %>
      <br />
      <% end %>
    </td>
  </tr><tr>
    <th>承認後処理</th>
    <td><%= item.recognition ? item.recognition.after_process : '' %></td>
  </tr>
</table>
