<%# app/views/gw/public/piece/tabs/_index.html.erb %>
<%
#tabs = Gw.yaml_to_array_for_select('tabs', :for_select_by_list=>1).collect{|x|
  #x1=x[1].split(':')
  #[x[0], (x1[1] rescue nil), x1[0]]
#}
cond  = " level_no=2 and published='opened' "
order = " sort_no "
tab_names = Gw::EditTab.find(:all,:conditions=>cond,:order=>order)
#return http_error(404) if tab_names.blank?

tabs = []
tab_names.each do |tab|
  tabs << [tab.tab_keys , tab.other_controller_url ,tab.name , tab.published, tab.state ]
end

cur = nz(@piece_param, "1")
tab_count = tabs.size
%>
<div id="docTab" class="docTab">
<div class="tabs">
<%
idx = 0, tab = [], uri = ''
tabs.each_with_index do |tab, idx|
  uri = nz(tab[1], "/tab_main/#{tab[0]}")
  if tab[3] == 'opened' && tab[4] == 'enabled'
    if idx+1 ==  tab_count
      concat %Q(<a href="#{uri}" class="tab#{idx+1}#{tab[0].to_s == cur ? ' current' : ''} endTab">#{tab[2]}</a>\n)
    else
      concat %Q(<a href="#{uri}" class="tab#{idx+1}#{tab[0].to_s == cur ? ' current' : ''}">#{tab[2]}</a>\n)
    end
  end
end
concat %Q(<a href="#{uri}" class="end"></a>\n)
%>
</div>
</div>