<%# app/views/cms/admin/pieces/_menu.html.erb %>
<div class="menu">
<p>ピース</p>
<%#= link_to '新規登録', new_cms_piece_path  if Site.user.has_priv?(:create, :item => Cms::Lib::Navi.concept) %>
<%= link_to '新規登録', new_cms_piece_path %>
<%= link_to '一覧表示', cms_pieces_path %>
</div>
