<div class="menu">
<p>年号設定</p>
<%= link_to '一覧' ,gw_year_mark_jps_path%>
<%= link_to '登録' ,new_gw_year_mark_jp_path %>
<%= link_to 'CSV出力' ,csvput_gw_year_mark_jps_path('csv'=>'init') %>
<%= link_to 'CSV登録', csvup_gw_year_mark_jps_path %>
</div>
