<div class="menu">
<p>基本システム</p>
<%= link_to "言語設定", system_languages_path %>
<%= link_to "グループ", system_groups_path(0) %>
<%= link_to "ユーザー", system_users_path %>
<%= link_to "LDAP", system_ldap_groups_path(0) %>
</div>
