<%#*<h1>Gw::Public::Piece::AdminMessages#index</h1>%>
<%#*<p>Find me in app/views/gw/public/piece/admin_messages/index.html.erb</p>%>

<%# メッセージをタブの上に表示するための、render partial用呼び出し %>
<%= render :partial => '/gw/public/piece/admin_messages/index' %>
