<%# app/views/system/admin/group_changes/index.html %>
<%
runs = "未実行"
runs = @item.updated_at.strftime("%Y-%m-%d %H:%M") unless @item.blank?
%>
<div>
  変更確定
</div>
<br />
<div>
  組織情報を、変更情報反映済のデータとして確定します。
  <br />
 <h4><span style="color:red;">確定後のやり直しは、できません。</span></h4>
</div>
<br />
<div>
  前回実行日　<%= h runs %>
</div>
<br />
<div class="showMenu">
  <%= link_to '実行' ,fixed_run_system_group_changes_path -%>
</div>
