<%# app/views/system/admin/group_changes/index.html %>
<%
options = {
  'table_name'=>'system_group_changes',:action=>'index',
  'link_to_show'=>0
}
%>
<br />
<div>
  組織変更の作業状況は以下の通りです。
</div>
<br />
<%= table_to_index2 @items,options %>
