<%# app/views/system/admin/group_changes/index.html %>
<%
runs = "未実行"
runs = @item.updated_at.strftime("%Y-%m-%d %H:%M") unless @item.blank?
#pickup_date = "未抽出"
pickup_date = "未設定"
pickup_date = @pickup_date.target_at.strftime("%Y-%m-%d") unless @pickup_date.blank?
-%>
<br />
<div>
  組織情報から、指定日に有効となるデータを抽出します。
</div>
<br />
<div>
  前回実行日　<%= h runs %>
</div>
<br />
<div>
  指定抽出日　<%= h pickup_date %>
</div>
<br />
<div class="showMenu">
  <%= link_to '実行' ,pickup_run_system_group_changes_path  -%>
</div>
