<div class="piece AdminSetting">
<%= render :partial => 'header' %>
<div class="pieceBody">

<%= div_notice %>
<% form_for :item, :url => "#{Site.current_node.public_uri}update", :html => {:method=>:post} do |f| %>
  <table class="show">
    <tr><th>上限設定</th>
    <td>個人ポータルに追加できるコンテンツ数を最大
    <%= f.select :max_contents, Gw::IndPortalSetting.max_contents_select_list, :selected => @item.max_contents %>
    個に設定
    </td></tr>
  </table>
  <%= f.submit '保存' %>
<% end %>

</div>
</div>
