<div class="piece AdminSetting">
<%= render :partial => 'header' %>
<div class="pieceBody">
<%= render :partial => 'button_new' %>
<%= render :partial => 'button_return' %>
<br>

<% form_for :item, :url => "#{Site.current_node.public_uri}", :html => {:method => :post} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end  %>

</div>
</div>
