<%# app/views/system/admin/roles/_menu.html.erb %>
<%#= render :partial => 'system/admin/header' %>
<div class="menu">
<p>ロール</p>
<%= link_to '登録', new_system_role_path %>
<%= link_to '編集', system_roles_path %>
</div>
