<%# app/views/system/admin/roles/show.html.erb %>
<%
options = {
  'field_td_criteria' => System::Role.td_criteria
}
%>
<div class="showMenu">
<%=link_to_edit      @item if @item.editable? %>
<%=link_to_destroy   @item if @item.deletable? %>
</div>
<%= table_to_show2 @item, options %>
