<%# app/views/gw/public/piece/header_menus/index.html.erb %>
<%
item = Gw::EditLinkPiece.new
cond  = "published = 'opened' and state = 'enabled' and id = #{@piece_param.to_i}"
order = "state DESC,sort_no"
items = item.find(:all, :order=>order, :conditions=>cond)
ret = ""
-%>
<% if Site.user.code == 'gwsys1151' %>
<div class="piece headerMenu">
<div class="pieceBody">
</div>
</div>
<% else %>
<div class="piece headerMenu">
<div class="pieceBody">
<ul>
<% items.each_with_index do |item, idx| -%>
  <% if item.state == "enabled"  && item.published = "opened" -%>
    <%
    item.get_child({:published => "opened"}).each_with_index do |level3_item, idx3|
      css_class = ""
      css_icon = ""

      if level3_item.class_sso == 2
        url_l3 = "/_admin/gw/link_sso/#{level3_item.id}/redirect_pref_pieces"
      else
        url_l3 = level3_item.link_url
      end

      # CSS
      if !level3_item.block_css_id.blank?
        css_class_item = Gw::EditLinkPieceCss.find_by_id(level3_item.block_css_id)
        if !css_class_item.blank? && css_class_item.state == "enabled"
          css_class = css_class_item.css_class
        end
      end

      # アイコン
      if !level3_item.block_icon_id.blank?
        css_icon_item = Gw::EditLinkPieceCss.find_by_id(level3_item.block_icon_id)
        if !css_icon_item.blank? && css_icon_item.state == "enabled"
          css_icon = css_icon_item.css_class
        end
      end

      if !level3_item.display_auth.blank? # 表示権限
        begin
          display_auth_l3 = eval(level3_item.display_auth)
        rescue SyntaxError, ScriptError, StandardError # evalでエラーが発生したとき、falseを返す
          display_auth_l3 = false
        end
      else
        display_auth_l3 = true
      end

      # 無効
      if level3_item.state == "disabled"
        disabled_str = ' class="grayout"'
      else
        if level3_item.name =~ /([D|d][E|e][C|c][O|c]*)/
          disabled_str = ""
#          disabled_str = ' class="menuDeco"'
        else
          disabled_str = ""
        end
      end

      if display_auth_l3
        ret += "<li#{disabled_str}>"
        ret += "<span class=\"#{css_class}\">" if !css_class.blank?

        disabled_flg_l4 = false

        level3_item.get_child({:published => "opened"}).each_with_index do | level4_item, idx4 |

          if level4_item.class_sso == 2
            url_l4 = "/_admin/gw/link_sso/#{level4_item.id}/redirect_pref_pieces"
          else
            url_l4 = level4_item.link_url
          end

          if level4_item.state == "disabled"
            disabled_flg_l4 = true
          end

          css_class_l4 = ""
          # CSS
          if !level4_item.block_css_id.blank?
            css_class_item_l4 = Gw::EditLinkPieceCss.find_by_id(level4_item.block_css_id)
            if !css_class_item_l4.blank? && css_class_item_l4.state == "enabled"
              css_class_l4 = css_class_item_l4.css_class
            end
          end

          if !level4_item.display_auth.blank? # 表示権限
            begin
              display_auth_l4 = eval(level4_item.display_auth)
            rescue SyntaxError, ScriptError, StandardError # evalでエラーが発生したとき、falseを返す
              display_auth_l4 = false
            end
          else
            display_auth_l4 = true
          end

          if display_auth_l4
            ret += "<a"
              ret += " class=\"#{css_class_l4}\"" if !css_class_l4.blank?
              ret += " href=\"#{'#' if level4_item.state == "disabled" || level3_item.state == "disabled"}#{url_l4}\""
              ret += ' target="_blank"' if level4_item.class_external == 2
              ret += " border=\"0\" alt=\"#{level4_item.name}\" title=\"#{level4_item.name}\" src=\"#{level4_item.icon_path}\""
            ret += ">"

            ret += "<img"
              #ret += ' width="44" height="44"' if css_class_l4.blank?
              ret += ' border="0"'
              ret += " alt=\"#{level4_item.name}\" title=\"#{level4_item.name}\""
              ret += " src=\"#{level4_item.icon_path}\"" if !level4_item.icon_path.blank?
            ret += ">"
          end
        end
        ret += "</span>" if !css_class.blank?
        ret += "<br><a#{' target="_blank"' if level3_item.class_external == 2}#{disabled_str} href=\"#{'#' if disabled_flg_l4 || level3_item.state == "disabled"}#{url_l3}\">#{level3_item.name}</a></li>"
      end
    end
    -%>
    <%= ret %>
  <% end -%>
<% end -%>
<!--
<li><%#= render :partial => "/gw/public/ind_edit_link_pieces/bookmark" %></li>
-->
</ul>
</div>
</div>
<% end %>