<%# app/views/system/admin/group_histories/_header.html.erb %>
<% sel = [:user, :group_histories] %>
<div class="mainMenu">
<%= render :partial => 'layouts/admin/cms/navi/main', :locals => {:current => sel[0]} %>
</div>
<div class="contentMenu">
<%= render :partial => "layouts/admin/cms/navi/#{sel[0]}", :locals => {:current => sel[1]} %>
</div>
