<%= hidden_field_tag 'input_mode', params[:input_mode] %>

<table class="show">
  
  <tr>
    <th>URL</th>
    <td><%= f.text_field :import_data, :class => 'string title' %></td>
  </tr><tr>
    <th>内部名称</th>
    <td><%= f.text_field :name, :class => 'string name', :style => 'width: 200px;' %></td>
  </tr><tr>
    <th>表示名称</th>
    <td><%= f.text_field :title, :class => 'string title' %></td>
  </tr>

</table>
