<%#*<h1>Gw::Public::AdminMessages#header</h1>%>
<%#*<p>Find me in app/views/gw/public/admin_messages/_header.html.erb</p>%>

<div class="editingBox">
  <span class="btNew"><%= link_to '新規作成', "#{Site.current_node.public_uri}new" %></span>
</div>
