<%

collection = Pref::Doc.new.public.find(:all, :order => "published_at DESC").collect

_select = Proc.new do |name|
  _name  = f.object_name.to_s + "[_rels][#{name.to_s}]"
  _blank = '<option></option>'
  value = item.find_rel_doc_by_name(name)
  value  = params[f.object_name] ? params[f.object_name][:_rels][name.to_s] : value
  select_tag _name, _blank + options_from_collection_for_select(collection, :id, h(:title), value)
end

%><table class="show">

<tr>
  <th>関連記事</th>
  <td>
    <%= _select.call(1) %>
    <br /><br style="line-height: 0.5;" />
    <%= _select.call(2) %>
    <br /><br style="line-height: 0.5;" />
    <%= _select.call(3) %>
  </td>
</tr>

</table>
