<h3 class="gwfaq_post_title">
  <%= "<font color='red'>QAタイトル番号を指定してください</font> " if @title.blank? %>
  <%=h @title.title unless @title.blank? %>
</h3>
<% form_for :item, :url => "#{Site.current_node.public_uri}create/?title_id=#{params[:title_id]}", :html => {:method => :post} do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
